body {
    background: #37474f;
}

.chess {
    display: flex;
    margin: 0 auto;
    width: 640px;
    flex-wrap: wrap;
}



.square {
    width: 80px;
    height: 80px;
    background: white;

}

.row {
    display: flex;
}

.row:nth-of-type(2n) {
    flex-direction: row-reverse;
}

.square:nth-of-type(2n) {
    background: black;
}

.piece {
    font-size: 3.5rem;
    padding-left: 0.8rem;
    color: black;
    text-shadow: 2px 2px 3px white;


}

.piece-white {
    font-size: 3.5rem;
    padding-left: 10px;
    color: white;
    text-shadow: 2px 2px 3px black;
}