.container {
    font-size: 30px;
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 220px);
    

}

.sidebar {

    flex-basis: 300px;
    margin: 5px 10px 5px 5px;
    border: 3px solid black;
}

.content {
    width: 100%;

    margin: 5px 10px 5px 5px;
    border: 3px solid black;
}

.header {
    text-align: center;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid black;
    padding-top : 0.3em
}

.footer {
    border-top: 2px solid black;
    text-align: center;
    height: 40px;
    width: 100%;
    padding-top: 0.3em;
   
}

